.container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}



.left {
  width: 80%;
}

.right {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blogContent {
  color: black;
  padding: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.thumbnail {
  width: 100%;
  margin-bottom: 6rem;
  position: relative;
  overflow: hidden;
}

.thumbnailImg {
  display: block;
  width: 100%;
  height: auto;
  /* Keeps the original aspect ratio */
  aspect-ratio: auto;
  /* Optional: can also set aspect-ratio: 16 / 9; if needed */
  object-fit: contain;
  /* Ensures image fits inside without cropping */
}